<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
    <h1>QUESTION CREATE</h1>
    <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Home</button>
    <button class="btn btn-outline-success" type="button">Log OUT</button>
      <button class="btn btn-outline-success" type="button">You surveys</button>
  </form>
        <h1>Survey name</h1>
        <div class="container">
        <form>
            <div class="form-group">
                <label for="inputSurveyName">Add a question</label>
                <input type="text" class="form-control" id="inputSurveyName" placeholder="Enter survey name">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>

</nav>

</body>
</html>