<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<h1>SURVEY LIST</h1>
    <nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button">Home</button>
    <button class="btn btn-outline-success" type="button">Log OUT</button>

  </form>
        <h1>User name</h1>
        <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Text Column 1</th>
                    <th>Text Column 2</th>
                    <th>Text Column 3</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Text 1</td>
                    <td>Text 2</td>
                    <td>Text 3</td>
                    <td>
                        <button class="btn btn-primary">Button</button>
                    </td>
                </tr>
                <tr>
                    <td>Text 4</td>
                    <td>Text 5</td>
                    <td>Text 6</td>
                    <td>
                        <button class="btn btn-primary">Button</button>
                    </td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

    </div>

</nav>

</body>
</html>